{% extends "base.html.twig" %}
{% block title %}Add article{% endblock %}
{% block body %}
    {{ form_start(form) }}
        {{ form_label(form.titre, "Le titre", {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.titre, {'label_attr': {'class': 'form-control'}}) }}
        {{ form_label(form.contenu, "Le contenu", {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.contenu, {'label_attr': {'class': 'form-control'}}) }}
        {{ form_label(form.creation_date, "La date", {'label_attr': {'class': 'form-label'}} ) }}
        {{ form_widget(form.creation_date, {'label_attr': {'class': 'form-control'}}) }}
        {{ form_rest(form) }}
        <button type="submit">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}