{% extends 'base.html.twig' %}


{% block title %}
    {{ article.titre }}
{% endblock %}
{% block body %}
    <p>{{ addition( article.id, 2) }}</p>
    {# <smal>{{ creationDate|date("d/m/Y") }}</smal> #}
    <p>{{ article.contenu }} </p>
    <smal>Comments:</smal>
    {% if article.comments is defined %}
        <ul>
            {% for comment in article.comments %}
                <li>{{ comment.contenu }}. le {{ comment.dateComment|date("d/m/Y") }}</li><br/>
            {% endfor %}
        </ul>
    {% endif %}
    {{ form_start(form, {"attr": "class":"was-validated"}) }}
        {{ form_label(form.contenu, "Votre commentaire", {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.contenu, {'label_attr': {'class': 'form-control'}}) }}
    {# le message d'erreur ne s'affiche pas pourquoi ? #}
        {{ form_errors(form.contenu) }}
        {{ form_label(form.author, "Votre nom", {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.author, {'label_attr': {'class': 'form-control'}}) }}
        {{ form_rest(form) }}
        <button type="submit">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}
