{% extends 'base.html.twig' %}


{% block title %}
    {{ article.titre }}
{% endblock %}
{% block body %}
    <p>{{ addition( article.id, 2) }}</p>
    {# <smal>{{ creationDate|date("d/m/Y") }}</smal> #}
    <p>{{ article.contenu }} </p>
    <smal>Comments:</smal>
    {% if article.comments is defined %}
        <ul>
            {% for comment in article.comments %}
                <li>{{ comment.contenu }}. le {{ comment.dateComment|date("d/m/Y") }}</li><br/>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
